<h1>Products</h1>
{{#each products}}
    <div>
       <p> Name: {{this.name}}</p>
       <p> Categories: {{#each this.categories}} {{this}} {{/each}}</p>
       <p> Price: {{this.price}}</p>
    </div>
{{/each}}