<form action="/products" method="post">
    <div>
        <label for="">Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label for="">Categories</label>
        <label for="">
            Pants
            <input type="checkbox" name="categories" value="Pants"/>
        </label>
         <label for="">
            Shorts
            <input type="checkbox" name="categories" value="Shorts"/>
        </label>
         <label for="">
           Swimwear
            <input type="checkbox" name="categories" value="Swimwear"/>
        </label>
    </div>
    <div>
        <label>Price</label>
        <input type="text" name="price"/>
    </div>
    <div>
        <input type="submit" value= "create product">
    </div>
</form>